@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
html {
    background: #DFFFD8 ;
    scroll-behavior: smooth;
    font-family: 'Josefin Sans', sans-serif;
}
header {
    text-decoration-color: chocolate;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    text-align: center;
    background: #F7C8E0 ;
}
.titulo {
    font-family: 'Josefin Sans', sans-serif;
    font-size: xx-large;
 
}

.logo{
 display: block;
 margin: 0 auto;

}

form {
    margin: 0 auto;
    width: 50%;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
  display : block;

  padding : 10px;
  margin  : 10px 0 0 -10px;
  width   : 100%;
  height  : 90%;

  border-right: 1px solid;

  /* resize  : none; */
  overflow: auto;
}

label {
    display: block;
    margin: .5em 0 0 0;
    text-align: center;
}

.btn {
    display: block;
    margin: 1em 0;
    width: 110px;
    margin-left: 15%;
    transform: translateX(-50%);
    padding      : 5px;
  font         : bold .6em sans-serif;
  border       : 2px solid #333;
  border-radius: 5px;
  background   : none;
  cursor       : pointer;
  transform    : rotate(-1.5deg);
}

.btn:hover,
.btn:focus {
  outline     : none;
  background  : #000;
  color       : #FFF;
}

.form{
    text-align: center;
}

footer{
    text-align: center;
}

/* Paleta de colores
#F7C8E0 Rosado
#DFFFD8 Amariverde suave
#B4E4FF Azul suave
#95BDFF Azul profundo
*/